<% count_all = @kilter.count_all %>

<div class="row">
	<input name="source" type="hidden" value="<%= @inputs[:source] %>" class="filter" />
	<input name="institution_search" type="hidden" value="<%= @inputs[:institution_search] %>" class="filter" %>

	<div class="small-12 columns filter-box">
		<%
			type_name = @inputs[:type_name]
			count_employer = @kilter.count(:name)[Institution::EMPLOYER]
			count_school = @kilter.count(:name).keys
				.reject { |k| compare_downcase(k, Institution::EMPLOYER) }
				.inject(0) { |memo, k| memo += @kilter.count(:name)[k] }
		%>

		<p>Institution</p>
		<%= render partial: "as_choice", 
				locals: {
					itype: "radio", name: "institution_type", label: "All",
					value: "all", checked_if: type_name, count: count_all
				} 
		%>

		<%= render partial: "as_choice", 
				locals: {
					itype: "radio", name: "institution_type", label: "School",
					value: "school", checked_if: type_name, count: count_school
				} 
		%>

		<%= render partial: "as_choice", 
				locals: {
					itype: "radio", name: "institution_type", label: "Employer",
					value: "employer", checked_if: type_name, count: count_employer
				} 
		%>
	</div><!-- end institution section -->

	<div class="small-12 columns filter-box">
		<p>Location</p>
		<%= render partial: "as_select", 
				locals: {
					name: "state", label: "State:", checked_if: @inputs[:state],
					values: {"all" => count_all}.merge(@kilter.count(:state))
				} 
		%>

		<%= render partial: "as_select", 
				locals: {
					name: "country", label: "Country:", checked_if: @inputs[:country],
					values: {"all" => count_all}.merge(@kilter.count(:country))
				} 
		%>
	</div><!-- end location section -->

	<div class="small-12 columns filter-box">
		<p>School Features</p>

		<%= render partial: "as_choice", 
			locals: {
				itype: "checkbox", name: "student_veteran", label: "Student Vet Group",
				value: "true", checked_if: @inputs[:student_veteran].present? ? "true" : nil, 
				count: @kilter.count(:student_veteran)["true"]
			} 
		%>

		<%= render partial: "as_choice", 
			locals: {
				itype: "checkbox", name: "yr", label: "Yellow Ribbon",
				value: "true", checked_if: @inputs[:yr].present? ? "true" : nil, 
				count: @kilter.count(:yr)["true"]
			} 
		%>

		<%= render partial: "as_choice", 
			locals: {
				itype: "checkbox", name: "poe", label: "Principles of Excellence",
				value: "true", checked_if: @inputs[:poe].present? ? "true" : nil, 
				count: @kilter.count(:poe)["true"]
			} 
		%>

		<%= render partial: "as_choice", 
			locals: {
				itype: "checkbox", name: "eight_keys", label: "8 Keys to Vet Success",
				value: "true", checked_if: @inputs[:eight_keys].present? ? "true" : nil, 
				count: @kilter.count(:eight_keys)["true"]
			} 
		%>
	</div><!-- end features section -->

	<div class="small-12 columns filter-box">
		<p>Types of Schools</p>

		<%= render partial: "as_select", 
				locals: {
					name: "types", checked_if: @inputs[:types], label: "",
					values: {"all" => count_all}.merge(@kilter.count(:name))
				} 
		%>
	</div><!-- end school types section -->
</div><!--end row-->